@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    /* background-color: black; */
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 95%; /* Increased width */
    border-radius: 12px;
    padding: 34px;
    /* background-image: url('bg.jpg'); */
}


.songList {
    width: 100%;
}

.songItemContainer {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.songItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 12px;
}

.songItem img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

.songlistplay {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timestamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp i {
    cursor: pointer;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10px; /* Adjust as needed */
    bottom: 10px; /* Adjust as needed */
    display: flex;
    align-items: center;
}

.songInfo img {
    margin-right: 10px;
}

.songInfo span {
    font-size: 1.2rem; /* Adjust as needed */
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}
